<h1>Editing <%= @task.title %></h1>
<%# raise %>
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>
  <%= f.label :details %>
  <%= f.text_field :details %> <br>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>
